publish:
  s3:
    basePath: "public/danielx.net"
dependencies:
  "cornerstone": "distri/cornerstone:master"
  "touch-canvas": "distri/touch-canvas:master"
  "ui": "STRd6/ui:v0.1.0"
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ace.js"
  "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.4/ext-language_tools.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"
]
