html, body, application, #ace
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  margin: 0

application
  display: flex

viewport
  flex: 1 1 auto
  position: relative

  > *
    position: absolute
    margin: auto
    left: 0
    right: 0
    top: 0
    bottom: 0

#ace
  flex: 1 1 auto

actions
  position: absolute
  top: 8px
  right: 8px
  z-index: 1

.time
  font-family: monospace
  position: absolute
  bottom: 1em
  right: 1em
