*
  box-sizing: border-box

html, body, application, #ace
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  margin: 0

application
  display: flex

viewport
  flex: 1 1 auto
  position: relative

  > *
    position: absolute
    margin: auto
    left: 0
    right: 0
    top: 0
    bottom: 0

#ace
  flex: 1 1 auto

actions
  position: absolute
  top: 8px
  right: 8px
  z-index: 1

  > button
    margin-right: 1em

.time
  font-family: monospace
  position: absolute
  bottom: 1em
  right: 1em

form
  display: inline-block
  padding: 2em
  width: 280px

  > h1
    font-size: 1.5em
    margin-top: 0
    text-align: center

  > label
    display: block

    > h2
      display: inline-block
      margin-top: 0
      font-size: 1em
      text-align: right
      padding-right: 1em
      width: 140px

  > button
    font-size: 1.25em
    width: 100%

input.small
  width: 40px

input.t
  position: absolute
  bottom: 1em
  right: 6em
  width: 300px

#modal
  &.active
    display: flex
    align-items: center
    justify-content: center

  > *
    flex: 1
    top: initial
    bottom: initial
    left: initial
    right: initial
